* {
    font-family: Roboto Arial serif;
    margin: auto;
}

.container,
.footer {
    background-color: #1f2937;
}

.contents {
    padding: 20px;
    margin: 0 auto;
    width: 70%;
}

.primary.text {
    font-size: 24px;
    color: #f9faf8;
}

.main.text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.secondary.text {
    font-size: 18px;
    color: #e5e7eb;
}

.primary.information {
    font-size: 36px;
    color: #1f2937;
    weight: 900;
}

.quotes {
    background-color: #e5e7eb;
}

blockquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}

button,
.call-to-action {
    background-color: #3882f6;
}

.flex-container {
    display: flex;
}

.intro.flex-container {
    flex-direction: row;
}

.intro.contents div {
    flex: auto;
}

.description.flex-container * {
    flex-wrap: wrap;
    flex-basis: 30%;
}

.navbar h1 {
    flex: 1;
    align-self: flex-start;
}

.navbar li {
    margin-right: 15px;
    display: inline;
}
