* {
    font-family: Roboto, serif;
}

body,
.container {
    margin: auto;
}

.navbar.container,
.intro.container,
.footer {
    background-color: #1f2937;
}

.contents {
    padding: 20px;
    margin: 0 auto;
    width: 70%;
}

.quotes.contents {
    width: 60%;
}

.primary.text {
    font-size: 24px;
    color: #f9faf8;
}

.main.text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.secondary.text {
    font-size: 18px;
    color: #e5e7eb;
}

.primary.information {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;

    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 45px;
}

.supporting.text {
    font-size: 18px;
    color: #555f6c;
}

.categories img {
    object-fit: cover;
    width: 200px;
    height: 200px;

    border: 5px solid #3882f6;
    border-radius: 12px;
}

.quotes.container {
    background-color: #e5e7eb;
}

blockquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;

    width: 95%;
    margin-right: 5px;
    margin-bottom: 0;
}

.quotes p {
    font-size: 24px;
    font-weight: 900;
    color: #1f2937;

    margin-top: 0;
}

button,
.call-to-action {
    background-color: #3882f6;
}

.intro.container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.quotes.contents {
    padding-top: 90px;
    padding-bottom: 75px;
}

.showcase.container {
    padding-bottom: 40px;
}

.flex-container {
    display: flex;
}

.intro.flex-container {
    flex-direction: row;
    gap: 16px;
}

.description.flex-container,
.showcase.flex-container,
.categories .flex-container,
.quotes.flex-container {
    flex-direction: column;
}

.quotes.flex-container {
    align-items: flex-end;
}

.intro.contents div {
    flex: auto;
}

.description.flex-container h2,
.description.flex-container p {
    flex-basis: auto;
}

.categories {
    flex: auto;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    flex: 1;
    align-self: flex-start;
}

.navbar li {
    margin-right: 15px;
    display: inline;
}

.intro h2 {
    margin-top: 0px;
    margin-bottom: 2px;
}

.showcase h2 {
    margin-bottom: 20px;
}

button {
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
    text-decoration: none;

    width: 160px;
    padding: 8px;
    border: none;
    border-radius: 12px;
}

.call-box button {
    border: 3px solid #f9faf8;
}
